#VSCode related
.vscode/

# Local History for Visual Studio Code
.history/

# Virtual Env:
.venv/

#Cache:
problems/__pycache__/
.outputs/
framework/db/small_MDA_TEST.in
framework/db/tlv_streets_map_TEST.csv
~$_236501_HW1_W2021.docx
